.header {
  text-align: center;
  background-color: #282c34;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.body {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.body-form {
  width: 800px;
  min-width: 800px;
  height: 50px;
  display: grid;
  grid-template-columns: 1fr 4fr 5fr 1fr 1fr;
  align-items: stretch;

  margin-top: 10px;
  margin-bottom: 10px;
}

.body-form-input {
  margin-right: 5px;
  padding-left: 5px;
}

.todo-list {
  width: 800px;
  min-width: 800px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.todo-item {
  min-height: 50px;
  display: grid;
  grid-template-columns: 0.5fr 0.5fr 4fr 5fr 1fr 1fr;
  align-items: stretch;
  border-top: #343028 1px solid;
  padding-top: 10px;
  padding-bottom: 10px;
}

.todo-item-element {
  margin-right: 5px;
}

.todo-item-id {
  text-align: center;
}

.todo-item-is-done {
  text-align: center;
}

.todo-item-title {
}

.todo-item-content {
}

.button {
  cursor: pointer;
  border: none;
  border-radius: 5px;

  padding-top: 10px;
  padding-bottom: 10px;
  /* padding-left: 20px;
  padding-right: 20px; */

  text-align: center;

  height: 50px;
  min-height: 50px;

  white-space: nowrap;

  margin-right: 5px;
}

.add-button {
  background-color: #7c735f;
  color: white;
}

.disabled-button {
  opacity: 0.3;
  cursor: not-allowed;
}

.delete-button {
  background-color: #ececec;
  color: black;
}

/*
343028
7C735F
*/
